@media screen and (max-width:768px){
    .container {
        max-width: 100%;
        padding: 0 1.5%;
    }
    .nav-grid {
        grid-template-columns: 1fr 5fr;
        font-size: 10px;
    }
    .logo {
        margin-top: 0px;
    }
    .logo img {
        width: 100px;
        margin-top: 15px;
    }

    .mainmenu li a {
        padding: 0px 5px;
    }
   
    .hero-grid {
        grid-template-columns: 1fr;
        text-align: center;
        gap:6rem;
    }

    .hero-text h2 {
        font-size: 30px;
        line-height: 34px;
    }

    .hero-grid img {
        width: 30rem;
    }

    .hero-grid-item p{
        width: 70%;
        margin: 3rem auto;
        font-size: 15px;
    }

    .btn {
        display: inline-block;
        background: #fff;
        margin-left: 22px;
        margin-top: 0;
    }

    .btn.primary-btn {
        font-size: 8px;
        padding: 0px;
    }

    .btn.secondary-btn {
        font-size: 10px;
        padding: 0;
    }


    .benefits-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .features-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .features-grid img {
        width: 100%;
    }

    .integrations-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .next-grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        margin-left: -9%;
    }

    .next-grid-item {
    width: 70px;
    }

    .testimonials-grid {
        grid-template-columns: repeat(1, 1fr);
        text-align:center
    }

    .testimonials-grid-item p {
        margin: auto;
    }

    .testimonials-grid-item img {
    margin-left: 0;
    }

    .resources-grid {
    grid-template-columns: repeat(2, 1fr);
    }

    .resources-next-grid-item {
    margin-top: 21%;
}
    .resources-grid-item-img {
    height: 34%;
    }
    .resources-grid-item-img-1 {
    height: 34%;
    }
    .resources-grid-item-img-2 {
    height: 26%;
    margin-top: 86px;
    }
    .resources-grid-item-img-3 {
    margin-top: 48px;
    height: 29%;
    }
    .resources-grid-item-img-4 {
     margin-top: 50px;
     height: 30%;
    }
    .resources-grid-item-img-5 {
     margin-top: 49px;
     height: 30%;
    }

    .resources-grid-item-content h4 {
        font-size: 11px;
    }
    .resources-grid-item-content a {
    font-size: 11px;
    height: 62%;
    }

    .section-title h2 {
        font-size: 3rem;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .footer-grid-item- ul{
        text-align: center;
    }

}

@media screen and (max-width:480px){
    .html{
        font-size: 62.5%;
    }
    
      .nav-grid {
        grid-template-columns: 1fr 6fr;
        font-size: 7px;
    }
    .logo {
        margin-top: 0px;
    }
    .logo img {
        width: 70px;
        margin-top: 22px;
    }

    .mainmenu li a {
        padding: 0px 3px;
    }
    
    .btn.primary-btn {
        font-size: 8px;
    }

    .benefits-grid{
        grid-template-columns: repeat(1, 1fr);
    }

   

    .benefits-grid .content {
        text-align: center;
    }

    .features-grid-item {
        width: 375px;
    }

    .next-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin-left: -9%;
    }

    .testimonials-grid {
        grid-template-columns: repeat(1, 1fr);
    }

       .resources-grid-item-img {
    height: 34%;
    }
    .resources-grid-item-img-1 {
    height: 34%;
    }
    .resources-grid-item-img-2 {
    height: 26%;
    margin-top: 86px;
    }
    .resources-grid-item-img-3 {
    margin-top: 48px;
    height: 29%;
    }

    .resources-grid-item-img-4 {
     margin-top: 50px;
     height: 30%;
    }
    .resources-grid-item-img-5 {
     margin-top: 49px;
     height: 30%;
    }

    .resources-grid-item-content h4 {
        font-size: 11px;
    }

    .resources-grid-item-content a {
    font-size: 11px;
    }
}
